<!-- <div> -->
<form>
  <div class="form-group" style="margin-top: 20px">
    <label class="form-label">Operator A</label>
    <input
      type="text"
      class="form-control"
      name="operatorA"
      [(ngModel)]="operatorA"
      placeholder="write first operator here..."
    />
  </div>

  <div class="form-group" style="margin-top: 20px">
    <label class="form-label">Operator B</label>
    <input
      type="text"
      class="form-control"
      name="operatorB"
      [(ngModel)]="operatorB"
      placeholder="write second operator here..."
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    style="margin-top: 20px"
    (click)="getSumResult()"
  >
    Sum numbers!
  </button>
</form>

<!-- </div> -->
