<div class="container">
  <div class="row">
    <div class="col">
      <label class="form-label">Operator A</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="operatorA"
        placeholder="write first operator here..."
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label class="form-label">Operator B</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="operatorB"
        placeholder="write second operator here..."
      />
    </div>
  </div>

  <div class="row">
    <div class="col my-3">
      <button class="btn btn-primary" (click)="getSumResult()">
        Sum numbers!
      </button>
      <p>The result is: {{ result }}</p>
    </div>
  </div>
</div>
